!!!
%html
  %head
    %title Ukei
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = google_webfonts_link_tag :open_sans => 300
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = render "layouts/shim"

  %body
    .login-container.container
      .row
        .col-md-offset-5.col-md-3
          = render "shared/flash_messages"
          = form_for(:session, :url => sessions_path, :html => { :class => "form-login"}) do |f|
            %h4 Welcome back.
            %input#userName.form-control.input-sm.chat-input{:name => "session[email]", :placeholder => "username", :type => "text"}/
            %input#userPassword.form-control.input-sm.chat-input{:name => "session[password]", :placeholder => "password", :type => "password"}/
            .wrapper
              %span.group-btn
                %button.btn.btn-primary.btn-md{:type => "submit"}
                  login
                  %i.fa.fa-sign-in
