%section.banner
  %a{:href => "#"}
    = image_tag("london_from_a_hot_air_balloon.jpg")
    .content.content-position.contain-padding
      %h1
        %span= @category.public_send("name#{@attr_suffix}".to_sym)

%section
  .contain-padding
    .row
      .col-md-8.text-detail.text-light
        = @category.public_send("context#{@attr_suffix}".to_sym).try(:html_safe)

      .col-md-4.side-text.text-light
        %h5 CONTACT DETAILS
        %address
          RSB Solictors
          %br/
          Unit 109, Cremer business centre
          %br/
          37 Cremer Street, London
          %br/
          E2 8HD

        %h5 PHONE NUMBER
        %address
          020 3092 5345

        %h5 EMAIL
        = mail_to "info@rsbsolicitors.co.uk"

        %h5 WECHAT
        %address
          TL07873963102

        = image_tag("qr-code.jpg", :size => "131x131", :alt => "RSB")
