%section.banner
  %a{:href => "#"}
    = image_tag("london_from_a_hot_air_balloon.jpg")
    .content.content-position.contain-padding
      %h1
        %span= @category.public_send("name#{@attr_suffix}".to_sym)

%section
  .contain-padding
    .row
      .col-md-8.text-detail
        = @category.public_send("context#{@attr_suffix}".to_sym).try(:html_safe)

      .col-md-4
        %h5
          CONTACT DETAILS
        %address
          %strong RSB Solictors
          %br/
          Unit 109, Cremer business centre
          %br/
          37 Cremer Street, London
          %br/
          E2 8HD

        %h5
          CONTACT

        %strong Full Name
        %br/
        %a{:href => "mailto:#"} first.last@example.com
