%footer.footer.text-light
  .contain-padding
    .row
      .col-lg-3.col-md-6
        %ul
          %li
            %h5= link_to t("services").upcase, category_path(@services)
          - @services.children.sort.each do |first_tier|
            %li= link_to first_tier.public_send("name#{@attr_suffix}".to_sym), category_path(first_tier)
      .col-lg-3.col-md-6
        %ul
          %li
            %h5= link_to t("sectors").upcase, category_path(@sectors)
          - @sectors.children.sort.each do |first_tier|
            %li= link_to first_tier.public_send("name#{@attr_suffix}".to_sym), category_path(first_tier)
      .col-lg-3.col-md-6
        %ul
          %li
            %h5
              %a{:href => contact_path}= t("contact_us").upcase
          %li
            %a{:href => "mailto:info@rsbsolicitors.co.uk", :title => "Send an e-mail to UKEI"} info@rsbsolicitors.co.uk
          %br/
          %li
            %h5= link_to t("location").upcase, location_path("london")
            %address
              RSB Solictors
              %br/
              Unit 109, Cremer business centre
              %br/
              37 Cremer Street, London
              %br/
              E2 8HD
              %br/
              020 3092 5345
          %li
            %h5= t("wechat").upcase
            TL07873963102

      .col-lg-3.col-md-6
        %ul
          %li
            %h5= t("connect").upcase
          %li= link_to "Wechat"
          %li= link_to "Weibo"
          %li= link_to "Facebook"
          %li= link_to "Linkedin"

          %li
            %h5= t("social").upcase
          %li
            .row
              .col-md-2
                %i.fa.fa-wechat.fa-2x
              .col-md-2
                %i.fa.fa-weibo.fa-2x
          %li
            .row
              .col-md-2
                %i.fa.fa-facebook-square.fa-2x
              .col-md-2
                %i.fa.fa-linkedin.fa-2x

.footer_copy
  .contain-padding
    .row
      .col-lg-12{:role => "navigation"}
        %ul#menu-footer-navigation.menu
          %li
            %a{:href => root_path} © 2015 RSB
          %li.menu-terms-of-use
            %a{:href => terms_path} Terms of use
          %li.menu-privacy-policy
            %a{:href => privacy_path} Privacy policy
