%footer.footer
  .contain-padding
    .row
      .col-lg-4.col-md-6
        %ul
          %li
            %h5 CONTACT US
          %li
            %a{:href => "mailto:info@ukei.com", :title => "Send an e-mail to UKEI"} info@ukei.com


      .col-lg-4.col-md-6
        %ul
          %li
            %h5= link_to "LOCATION", location_path("london")
          %li= link_to "London", location_path("london")

      .col-lg-4.col-md-6
        %ul
          %li
            %h5 CONNECT
          %li= link_to "Wechat"
          %li= link_to "Weibo"
          %li= link_to "Facebook"

.footer_copy
  .contain-padding
    .row
      .col-lg-12{:role => "navigation"}
        %ul#menu-footer-navigation.menu
          %li
            %a{:href => "http://liveworkstudio.com"} © 2015 Livework
          %li.menu-terms-of-use
            %a{:href => "http://liveworkstudio.com/terms-of-use/"} Terms of use
          %li.menu-privacy-policy
            %a{:href => "http://liveworkstudio.com/privacy-policy/"} Privacy policy
          %li.menu-website-by-rodesk
            %a{:href => "http://rodesk.com", :rel => "external"} Website by Rodesk
