%footer.footer
  .contain-padding
    .row
      .col-lg-4.col-md-6
        %ul
          %li
            %a{:href => contact_path}
              %h5 CONTACT US
          %li
            %a{:href => "mailto:info@ukei.com", :title => "Send an e-mail to UKEI"} info@ukei.com
          %br/

          %li
            %address
              %strong RSB Solictors
              %br/
              44 Bishopsgate, London
              %br/
              EC2N 4AJ
              %br/
              United Kingdom
              %br/
              %abbr{:title => "Phone"} P:
              (123) 456-7890


      .col-lg-4.col-md-6
        %ul
          %li
            %h5= link_to "LOCATION", location_path("london")
          %li= link_to "London", location_path("london")

      .col-lg-4.col-md-6
        %ul
          %li
            %h5 CONNECT
          %li= link_to "Wechat"
          %li= link_to "Weibo"
          %li= link_to "Facebook"
          %li= link_to "Linkedin"

.footer_copy
  .contain-padding
    .row
      .col-lg-12{:role => "navigation"}
        %ul#menu-footer-navigation.menu
          %li
            %a{:href => root_path} © 2015 RSB
          %li.menu-terms-of-use
            %a{:href => terms_path} Terms of use
          %li.menu-privacy-policy
            %a{:href => privacy_path} Privacy policy
