.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path}
        = image_tag("rsg-logo.jpg", :size => "200x100")
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        - @categories.each do |category|
          - if category.children.empty?
            %li= link_to category.name.upcase
          - else
            %li.dropdown-hover
              %a.dropdown-toggle{"data-toggle" => "dropdown"}
                = category.name.upcase
                %span.caret
                %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu"}
                  - category.children.each do |top_tier|
                    - if top_tier.children.empty?
                      %li= link_to top_tier.name.upcase
                    - else
                      %li.dropdown-submenu.dropdown-menu-right
                        = top_tier.name.upcase
                        %ul.dropdown-menu.dropdown-hover{"aria-labelledby" => "category_#{category.id}"}
                          - top_tier.children.each do |second_tier|
                            %li= link_to second_tier.name.upcase

        %li= link_to "CONTACT", contact_path
        - if signed_in?
          %li= link_to "LOGOUT", signout_path, method: "delete"
