!!!
%html
  %head
    %title Ukei
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = google_webfonts_link_tag :open_sans => 300
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = render "layouts/shim"

  %body
    = render "layouts/nav"
    = yield
    = render "layouts/footer"
